<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RTEM</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>

<header class="header">
    {% include 'Navbar.html' %}
</header>
<main>
<div class="container mt-5">
    <div class="jumbotron hero-background">
        <h1 class="display-4">Welcome to our Energy Monitoring Project!</h1>
        <p class="lead">Utilizing the latest IoT and machine learning technologies to optimize energy consumption, particularly in server rooms and for high-power equipment.</p>
        <hr class="my-4">
        <p>Explore our features to start saving energy and money today.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'about_view' %}" role="button">Learn More</a>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-chart-line"></i> MZE (Energy Consumption Monitoring)</h5>
                    <p class="card-text">Monitor with precision: Harness the power of advanced sensors and IoT technology for detailed energy consumption tracking, from individual devices to entire building complexes.</p>
                    <a href="{% url 'chart_view' %}" class="btn btn-custom">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-brain"></i> PZ (Consumption Forecasting)</h5>
                    <p class="card-text">Predict and plan: Utilize cutting-edge machine learning methods, including TensorFlow, to accurately forecast future energy demand based on historical data and emerging trends.</p>
                    <a href="{% url 'forecast_energy' %}" class="btn btn-custom">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-broadcast-tower"></i> SG (Smart Grid Integration)</h5>
                    <p class="card-text">Smart grid compatibility: Seamlessly integrate with smart grids to access real-time energy prices via the Entso-e API, enhancing decision-making and energy management.</p>
                    <a href="{% url 'show_chart' %}" class="btn btn-custom">View</a>
                </div>
            </div>
        </div>
    </div>

</div>
</main>
<div>
    {% include 'Footer.html' %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
