<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <title>Energy Monitoring Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="../Static/main.css" rel="stylesheet">
</head>
<body>

<header class="header">
    {% include 'navbar.html' %}
</header>

<div class="container mt-5">
    <div class="jumbotron hero-background">
        <h1 class="display-4">Witamy na stronie konceptowej naszego projektu monitorowania energii!</h1>
        <p class="lead">Wykorzystanie najnowszych technologii IoT i uczenia maszynowego do optymalizacji zużycia energii.</p>
        <hr class="my-4">
        <p>Poznaj nasze funkcje, aby już dziś zacząć oszczędzać energię i pieniądze.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Dowiedz się więcej</a>
    </div>

    <div class="row">
        <!-- Feature 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="path/to/feature1-image.jpg" alt="Funkcja 1">
                <div class="card-body">
                    <h5 class="card-title">Funkcja 1 MZE</h5>
                    <p class="card-text">Krótki opis funkcji 1.</p>
                    <a href="#" class="btn btn-custom">Przeglądaj</a>
                </div>
            </div>
        </div>
        <!-- Additional features here -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="path/to/feature1-image.jpg" alt="Funkcja 2">
                <div class="card-body">
                    <h5 class="card-title">Funkcja 1 PZ</h5>
                    <p class="card-text">Krótki opis funkcji 2.</p>
                    <a href="#" class="btn btn-custom">Przeglądaj</a>
                </div>
            </div>
        </div>
{#        <div class="chart-container" style="position: relative; height:40vh; width:80vw">#}
{#            <canvas id="energyConsumptionChart"></canvas>#}
{#        </div>#}
    </div>
</div>

<div >
    {% include 'footer.html' %}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
{#<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>         Chartss#}
<script>
    // Example JavaScript for active link highlighting
    $(document).ready(function () {
        $('.nav-link').on('click', function () {
            $('.nav-link').removeClass('active-nav-link');
            $(this).addClass('active-nav-link');
        });
    });
    {#var ctx = document.getElementById('energyConsumptionChart').getContext('2d');#}
    {#var energyConsumptionChart = new Chart(ctx, {#}
    {#    type: 'line', // Change type as needed#}
    {#    data: {#}
    {#        labels: ['January', 'February', 'March', 'April'], // Example labels#}
    {#        datasets: [{#}
    {#            label: 'Energy Consumption',#}
    {#            data: [65, 59, 80, 81], // Placeholder data#}
    {#            fill: false,#}
    {#            borderColor: 'rgb(75, 192, 192)',#}
    {#            tension: 0.1#}
    {#        }]#}
    {#    },#}
    {#    options: {#}
    {#        scales: {#}
    {#            y: {#}
    {#                beginAtZero: true#}
    {#            }#}
    {#        }#}
    {#    }#}

    {#                ^#}
    {#Chart function  |#}

    {#if ('serviceWorker' in navigator) {#}
    {#window.addEventListener('load', () => {#}
    {#    navigator.serviceWorker.register('/serviceWorker.js').then(registration => {#}
    {#        console.log('ServiceWorker registration successful with scope: ', registration.scope);#}
    {#    }, err => {#}
    {#        console.log('ServiceWorker registration failed: ', err);#}
    {#    });#}

</script>

</body>
</html>