<header class="sticky-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">RealTimeEnergyManager</a>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContents">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Strona Główna<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Funkcja</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">O Projekcie</a>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContents" aria-controls="navbarSupportedContents" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</header>
