<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/images.png' %}" >
    <title>Energy Monitoring Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="../Static/main.css" rel="stylesheet">
</head>
<body>
<header class="header">
    {% include 'navbar.html' %}
</header>
</body>
</html>